project:
  name: "sherpa-zipformer-rv1126b"
  version: "1.0"
  output_dir: "./output/rv1126b_release"
  workspace_dir: "./workspace/tmp"

target:
  platform: "rv1126b"
  # device_id: null

build:
  optimization_level: 3
  verbose: true
  pruning: true
  eval_memory: false

  quantization:
    enabled: false
    dtype: "asymmetric_quantized-8"
    dataset: ""

models:
  - name: "encoder"
    path: "models/downloads/sherpa-onnx-streaming-zipformer-en-2023-02-21/encoder-epoch-99-avg-1.onnx"
    url: "https://huggingface.co/csukuangfj/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/resolve/main/encoder-epoch-99-avg-1.onnx"
    preprocess:
      fix_dynamic_shape: true
      simplify: true
      extract_metadata: true
    input_shapes:
      - [1, 80, 50]

  - name: "decoder"
    path: "models/downloads/sherpa-onnx-streaming-zipformer-en-2023-02-21/decoder-epoch-99-avg-1.onnx"
    url: "https://huggingface.co/csukuangfj/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/resolve/main/decoder-epoch-99-avg-1.onnx"
    preprocess:
      fix_dynamic_shape: true
      simplify: true
      extract_metadata: true
      fix_int64_type: true
    input_shapes:
      - [1, 512]

  - name: "joiner"
    path: "models/downloads/sherpa-onnx-streaming-zipformer-en-2023-02-21/joiner-epoch-99-avg-1.onnx"
    url: "https://huggingface.co/csukuangfj/sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20/resolve/main/joiner-epoch-99-avg-1.onnx"
    preprocess:
      fix_dynamic_shape: true
      simplify: true
      extract_metadata: true
    input_shapes:
      - [1, 512]
      - [1, 512]
